@import 'src/scss/shared';

.layout-playground {
  @include fill-parent-size();
}

mat-sidenav-container {
  @include fill-parent-size();
}

mat-sidenav {
  width: 300px;
}

mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-nav-list {
  padding-top: 0;
}

[mat-list-item] {

  mat-icon.fa {
    font-size: 1rem;
    margin: 5px 10px 0 5px;
    text-align: center;
  }
}

.header {
  background-color: $primary-color;
  color: #fff;
}

.content {
  margin: 1rem;
}

.router-active {
  border-left: 5px solid $primary-color;
  color: $primary-color !important;
}
