<h3>單純顯示圖表</h3>
<button (click)="show(1);">範例 1</button> |
<button (click)="show(2);">範例 2</button> |
<button (click)="show(3);">範例 3</button> |
<button (click)="show(4);">範例 4</button> |
<button (click)="show(5);">範例 5</button> |
<button (click)="show(6);">範例 6</button> |

<h3>不只顯示圖表，還要跟圖表互動</h3>
<button (click)="interactive(1);">範例 1</button> |
<button (click)="interactive(2);">範例 2</button> |
<button (click)="interactive(3);">範例 3</button> |
<button (click)="interactive(4);">範例 4</button> |
<button (click)="interactive(5);">範例 5</button> |
<button (click)="interactive(6);">範例 6</button> |
<button (click)="noop()">noop</button> |
<p *ngIf="isShowText">=== text ===</p>

<div id="container"></div>
