<div class="radio-group">
  <span>資料庫:</span>
  <input type="radio" id="oracle" name="oracle" value="oracle" [(ngModel)]="dbType" (click)="template = oracleTemplate">
  <label for="oracle">Oracle</label>
  <input type="radio" id="mssql" name="mssql" value="mssql" [(ngModel)]="dbType" (click)="template = mssqlTemplate">
  <label for="mssql">Mssql</label>
  <input type="radio" id="mysql" name="mysql" value="mysql" [(ngModel)]="dbType" (click)="template = mysqlTemplate">
  <label for="mysql">Mysql</label>
</div>

<div class="option">
  <ng-container *ngTemplateOutlet="template ? template : defaultTemplate"></ng-container>
</div>

<textarea readonly [(ngModel)]="sql"></textarea>

<button type="button" mat-button color="primary" [cdkCopyToClipboard]="sql">複製到剪貼簿</button>

<!-- Template -->

<ng-template #defaultTemplate>
  <div class="hint">請選擇資料庫</div>
</ng-template>

<ng-template #oracleTemplate>
  <form #form="ngForm">
    <div class="row">
      <label for="username" class="required">USERNAME</label>
      <input type="text" id="username" name="username" [(ngModel)]="model.username" #username="ngModel"
        [ngClass]="{'error': form.submitted && username.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="username.errors?.required">USERNAME 必填</small>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="commonTemplate; context: { $implicit: 'assets/excel/demo-oracle.xls' }">
    </ng-container>
  </form>
</ng-template>

<ng-template #mssqlTemplate>
  <form #form="ngForm">
    <div class="row">
      <label for="owner" class="required">OWNER</label>
      <input type="text" id="owner" name="owner" [(ngModel)]="model.owner" #owner="ngModel"
        [ngClass]="{'error': form.submitted && owner.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="owner.errors?.required">OWNER 必填</small>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="commonTemplate; context: { $implicit: 'assets/excel/demo-mssql.xls' }">
    </ng-container>
  </form>
</ng-template>

<ng-template #mysqlTemplate>
  <form #form="ngForm">
    <div class="row">
      <label for="engine" class="required">ENGINE</label>
      <input type="text" id="engine" name="engine" [(ngModel)]="model.engine" #engine="ngModel"
        [ngClass]="{'error': form.submitted && engine.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="engine.errors?.required">ENGINE 必填</small>
      </div>
    </div>
    <div class="row">
      <label for="characterSet" class="required">CHARACTER SET</label>
      <input type="text" id="characterSet" name="characterSet" [(ngModel)]="model.characterSet" #characterSet="ngModel"
        [ngClass]="{'error': form.submitted && characterSet.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="characterSet.errors?.required">CHARACTER SET 必填</small>
      </div>
    </div>
    <div class="row">
      <label for="collate" class="required">COLLATE</label>
      <input type="text" id="collate" name="collate" [(ngModel)]="model.collate" #collate="ngModel"
        [ngClass]="{'error': form.submitted && collate.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="collate.errors?.required">COLLATE 必填</small>
      </div>
    </div>
    <div class="row">
      <label for="rowFormat" class="required">ROW_FORMAT</label>
      <input type="text" id="rowFormat" name="rowFormat" [(ngModel)]="model.rowFormat" #rowFormat="ngModel"
        [ngClass]="{'error': form.submitted && rowFormat.errors}" required>
      <div class="error" *ngIf="form.submitted">
        <small *ngIf="rowFormat.errors?.required">ROW_FORMAT 必填</small>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="commonTemplate; context: { $implicit: 'assets/excel/demo-mysql.xls' }">
    </ng-container>
  </form>
</ng-template>

<ng-template #commonTemplate let-url>
  <div class="row">
    <label for="file" class="required">檔案</label>
    <input type="file" accept=".xls, .xlsx" class="hide" id="file" name="file" #file (change)="handleFile();">
    <button type="button" mat-button color="primary" (click)="file.click();">選擇檔案</button>
    <input type="text" disabled [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="row">
    <button type="submit" mat-flat-button color="primary" (click)="excel2Sql();">轉成 SQL</button>
    <a mat-button color="primary" [href]="url" target="_blank">範例下載</a>
  </div>
</ng-template>
