<form #form>

  <div>
    <input type="radio" id="oracle" name="oracle" value="{{ DbType.Oracle }}" [(ngModel)]="dbType">
    <label for="oracle">Oracle</label>
    <input type="radio" id="mssql" name="mssql" value="{{ DbType.Mssql }}" [(ngModel)]="dbType">
    <label for="mssql">Mssql</label>
    <input type="radio" id="mysql" name="mysql" value="{{ DbType.Mysql }}" [(ngModel)]="dbType">
    <label for="mysql">Mysql</label>
  </div>

  <button type="button" (click)="download();">下載</button> |
  <input type="file" accept=".xls,.xlsx" (change)="handleFile();" #file /> |
  <button type="button" (click)="convert();">轉換</button> |

</form>

<div>SQL Script</div>

<textarea [ngModel]="result" readonly></textarea>
