<div class="env-name">{{ ENV_NAME }}</div>

<h1>{{ title }}</h1>

<button routerLink="/main" routerLinkActive="router-active">首頁</button> |
<button routerLink="/login" routerLinkActive="router-active">登入頁面</button> |
<button routerLink="/google-map" routerLinkActive="router-active">Google Map</button> |
<button routerLink="/youtube" routerLinkActive="router-active">Youtube</button> |
<button routerLink="/angular-material" routerLinkActive="router-active">Angular Material</button> |
<button routerLink="/member" routerLinkActive="router-active">會員中心</button> |
<button routerLink="/highcharts" routerLinkActive="router-active">Highcharts</button> |

<nav>
  <ul class="breadcrumb">
    <ng-container *ngFor="let x of breadcrumbs; let isLast = last;">
      <li>
        <a [routerLink]="[x.url]" *ngIf="!isLast">{{ x.label }}</a>
        <ng-container *ngIf="isLast">{{ x.label }}</ng-container>
      </li>
    </ng-container>
  </ul>
</nav>

<router-outlet (activate)="activate($event)"></router-outlet>

<style>
  .env-name {
    position: absolute;
    background-color: coral;
    top: 15px;
    right: 15px;
  }
</style>
