<div class="radio-group">
  <span>計算機:</span>
  <input type="radio" id="stock" name="stock" value="stock" [(ngModel)]="calType" (click)="template = stockTemplate">
  <label for="stock">股票</label>
</div>

<div class="option">
  <ng-container *ngTemplateOutlet="template ? template : defaultTemplate"></ng-container>
</div>

<!-- Template -->

<ng-template #defaultTemplate>
  <div class="hint">請選擇計算機</div>
</ng-template>

<ng-template #stockTemplate>
  <fieldset>
    <legend>股票買</legend>
    <label for="costPrice">進場:</label>
    <input id="costPrice" [(ngModel)]="stock.cost.price"><span>塊</span><br>
    <label for="costHandlingFee">手續費:</label>
    <input id="costHandlingFee" [(ngModel)]="stock.cost.handlingFee"><span>%</span><br>
    <label for="costNumber">張數:</label>
    <input id="costNumber" [(ngModel)]="stock.cost.number"><span>張</span><br>
    <label for="costNumber">總成本:</label>
    <span>$ {{ calStockCost() | number }}</span>
  </fieldset>
  <fieldset>
    <legend>股票賣</legend>
    <label for="sellPrice">出場:</label>
    <input id="sellPrice" [(ngModel)]="stock.sell.price"><span>塊</span><br>
    <label for="sellHandlingFee">手續費:</label>
    <input id="sellHandlingFee" [(ngModel)]="stock.sell.handlingFee"><span>%</span><br>
    <label for="sellTax">交易稅:</label>
    <input id="sellTax" [(ngModel)]="stock.sell.tax"><span>%</span><br>
    <label for="sellNumber">張數:</label>
    <input id="sellNumber" [(ngModel)]="stock.sell.number"><span>張</span><br>
    <label for="costNumber">總收入:</label>
    <span>$ {{ calStockSell() | number }}</span><br>
  </fieldset>
  <fieldset>
    <legend>統計結果</legend>
    <label>利潤:</label>
    <span>$ {{ calStockSell() - calStockCost() | number }}</span><br>
  </fieldset>
</ng-template>
