<button (click)="template = observers">Observers</button> |
<button (click)="template = scrolling">Scrolling</button> |
<button (click)="template = dragAndDrop">Drag and Drop</button> |

<div class="result">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<!-- Observers -->
<ng-template #observers>
  輸入: <input [(ngModel)]="name"> <br>
  輸出: <app-cdk-demo1>{{ name }}</app-cdk-demo1>
</ng-template>

<!-- Scrolling -->
<ng-template #scrolling>
  <app-cdk-demo2></app-cdk-demo2>
</ng-template>

<!-- Drag and Drop -->
<ng-template #dragAndDrop>
  <app-cdk-demo3></app-cdk-demo3>
</ng-template>
