@import 'src/scss/shared';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a.link {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:active {
    color: inherit;
  }

  &:link {
    color: inherit;
  }
}

mat-icon.fa {
  font-size: 1.7rem;
}

.flex-rest {
  flex: 1 1;
}

.hide {
  display: none;
}

.row {
  display: block;
  margin: 1.5%;

  label {

    &.required::before {
      content: '* ';
      color: red;
    }
  }

  input[type=text] {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
