/* You can add global styles to this file, and also import other style files */

////////////////////////////////////////////
///////////// angular-material /////////////
////////////////////////////////////////////
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

////////////////////////////////////////////
////////////////// custom //////////////////
////////////////////////////////////////////
h1 {
  color: blue;
}

h3 {
  &:not(:first-of-type) {
    padding-top: 16px; 
  }
  color: lightskyblue;
}

button.router-active {
  background-color: #4e4e4e;
  color: #ffff00;
  font-weight: bold;
  border-radius: 10px;
}

button:focus {
  // override chrome
  // outline: -webkit-focus-ring-color auto 1px;
  outline: inherit;
}
