@import 'src/scss/shared';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a.link {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:active {
    color: inherit;
  }

  &:link {
    color: inherit;
  }
}

mat-icon.fa {
  font-size: 1.7rem;
}

.flex-rest {
  flex: 1 1;
}

.router-active {
  border-left: 5px solid $primary-color;
}
