@for $var from 1 to 10 {

  // ==========================================
  // margin
  // ==========================================

  .margin-t#{8 * $var} {
    margin-top: 0.5rem * $var;
  }

  .margin-r#{8 * $var} {
    margin-right: 0.5rem * $var;
  }

  .margin-b#{8 * $var} {
    margin-bottom: 0.5rem * $var;
  }

  .margin-l#{8 * $var} {
    margin-left: 0.5rem * $var;
  }

  // ==========================================
  // padding
  // ==========================================

  .padding-t#{8 * $var} {
    padding-top: 0.5rem * $var;
  }

  .padding-r#{8 * $var} {
    padding-right: 0.5rem * $var;
  }

  .padding-b#{8 * $var} {
    padding-bottom: 0.5rem * $var;
  }

  .padding-l#{8 * $var} {
    padding-left: 0.5rem * $var;
  }
}
