@import 'src/scss/shared';
@include mat-core();

// ==========================================
// light
// ==========================================

$light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

.light-theme {
  @include angular-material-theme($light-theme);
  --theme-color: #fff;
}

// ==========================================
// dark
// ==========================================

$dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

.dark-theme {
  @include angular-material-theme($dark-theme);
  --theme-color: #303030;
}
